body{
    margin: 0;
    padding: 0;
    background: #4a4a4a;
    height: 100%;
    width: 100%;
}

.container{
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

#myProgress{
    background: #f0e746;
    width: 60%;
    min-height: 50px;
    box-shadow: 0px 10px 30px rgba(255,255,255,0.1);
}

#myBar{
    background: rgb(7, 1, 167);
    width: 8%;
    color: #fefeff;
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    text-align: center;
    font-weight: 500;
}

button{
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 24.5%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    color: #242424;
    transition: 0.5s;
    background-color: #c1fdbdd7;
    margin:25px 0 0 26px;
    
}

button:hover{
    background: #067900;
    color: #fcfcfc;
}