* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--primary-color: #93f718;
	--secondary-color: #54c80c;
	--background-color-primary: #ffffff;
	--background-color-secondary: #1d4fc3;
	--text-color: #1e1e1e;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: var(--background-color-primary);
	color: var(--text-color);
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 40px auto 100px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 40px;
	padding: 0 10px
}

.contenedor .pelicula {
	text-align: center;
}

.contenedor .pelicula .titulo {
	font-size: 16px;
	font-weight: 600;
}

.contenedor .pelicula .poster {
	width: 100%;
	height: auto; 
	margin-bottom: 10px;
	border-radius: 15px;
	object-fit: cover;
}

.paginacion {
	position: fixed;
	bottom: 0;
	background: var(--background-color-secondary);
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
	border-radius: 5px;
}

.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 40px;
	width: 180px;
	background: var(--primary-color);
	color: var(--text-color);
	border-radius: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.paginacion button:hover {
	background: var(--secondary-color);
}
/* Media Queries para tamaños de pantalla específicos */
@media (max-width: 768px) {
	.contenedor {
			gap: 15px;
			padding: 0 10px;
	}

	.paginacion {
			padding: 5px;
	}

	.paginacion button {
			width: 140px;
			font-size: 14px;
	}
}
