img{
  height: 300px;
  width: 300px;
}

:root{
  --primary-color: #fced78;
  --background-color: #000;
  --segudary-coclor:#010d92;
}
.link-dom{
  background-color:orange;
  color:#000;
}
.card{
  display: inline-block;
  background-color: var(--background-color);
  color: var(--primary-color);
}
.card figcaption{
  padding: 1rem;
}
.rotate-45{
  transform: rotate(45deg);
}

.rotate-135{
  transform: rotate(135deg);
}
.opacity-80{
  opacity: 0.8;
}
.sepia{
  filter: sepia(100%);
}

/******* ingredientes *****/

ol{
  font-size: 1.2rem;
}

li::marker{
  color: var(--segudary-coclor);
  font-size: 1.5rem;
}